@use '../abstracts/variables';

.btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s;

    &-primary {
        background-color: variables.$primary-color;
        color: white;

        &:hover {
            background-color: darken(variables.$primary-color, 10%);
        }
    }

    &-secondary {
        background-color: variables.$secondary-color;
        color: white;
        margin-left: 1rem;

        &:hover {
            background-color: darken(variables.$secondary-color, 10%);
        }
    }
}